.marquee {
    &__wrapper {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        padding: 150px 0px;
    }

    &__cities {
        display: inline-block;
        margin-top: 5px;
        animation: marquee 80s linear infinite;

        &__1 {
            position: relative;
            left: 0%;
            animation: swap 80s linear infinite;
        }

        &__city {
            display: inline-block;
            /* padding: 0 10rem; */

            font-size: 208px;
            font-weight: 800;
            line-height: 219.158px;
            letter-spacing: 6.24px;
            -webkit-text-stroke: 5px #000;
            color: transparent;

            &__current {
                color: black;
            }

            &__line {
                color: #000;
            }
        }

    }
}

/* Transition */
@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes swap {

    0%,
    50% {
        left: 0%;
    }

    50.01%,
    100% {
        left: 100%;
    }
}