/*
 * Fraktion Mono
 */
@font-face {
    font-family: 'Fraktion Mono';
    src: url('/fonts/Fraktion/PPFraktionMono-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fraktion Mono';
    src: url('/fonts/Fraktion/PPFraktionMono-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Fraktion Mono';
    src: url('/fonts/Fraktion/PPFraktionMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fraktion Mono';
    src: url('/fonts/Fraktion/PPFraktionMono-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fraktion Mono';
    src: url('/fonts/Fraktion/PPFraktionMono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fraktion Mono';
    src: url('/fonts/Fraktion/PPFraktionMono-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/*
 * Fraktion Sans
 */
@font-face {
    font-family: 'Fraktion Sans';
    src: url('/fonts/Fraktion/PPFraktionSans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Fraktion Sans';
    src: url('/fonts/Fraktion/PPFraktionSans-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Fraktion Sans';
    src: url('/fonts/Fraktion/PPFraktionSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fraktion Sans';
    src: url('/fonts/Fraktion/PPFraktionSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Fraktion Sans';
    src: url('/fonts/Fraktion/PPFraktionSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fraktion Sans';
    src: url('/fonts/Fraktion/PPFraktionSans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/*
 * NeueMontreal
 */
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-ThinItalic.orf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Light.orf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Regular.orf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Italic.orf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Medium.orf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-SemiBolditalic.orf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Bold.orf') format('opentype');
    font-weight: 700;
    font-style: normal;
}