.description {

    padding: 172px 60px;
    width: 82%;

    p {
        font-family: 'Neue Montreal';
        text-indent: 10%;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        /* 95.652% */
    }

}